<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BBMS</display-name>
  <servlet>
        <servlet-name>WebContent</servlet-name>
        <servlet-class>WebContent.bindex.jsp</servlet-class> 
    </servlet>
    <servlet-mapping>
        <servlet-name>WebContent</servlet-name>
        <url-pattern>/WebContent</url-pattern>
    </servlet-mapping>
     <servlet>
         <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>BloodSearch</servlet-name>
        <servlet-class>controller.BloodSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BloodSearch</servlet-name>
        <url-pattern>/BloodSearch</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>BGSearch</servlet-name>
        <servlet-class>controller.BGSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BGSearch</servlet-name>
        <url-pattern>/BGSearch</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
  <welcome-file-list>
    <welcome-file>bindex.jsp</welcome-file>
    <welcome-file>searchview.jsp</welcome-file>
    <welcome-file>abindex.jsp</welcome-file>
  </welcome-file-list>
</web-app>

